ftfy>=6.2.0
diffusers
accelerate
av>=12.0.0
numpy<2.0.0
beautifulsoup4
debugpy
ffmpeg-python
gpustat
matplotlib
protobuf==5.28.3
rich
timm==1.0.15
torchdiffeq==0.2.4
omegaconf
lmdb
easydict
yunchang
xfuser

# [dev]
pre-commit>=3.5.0
transformers
sentencepiece
decord
imageio
imageio-ffmpeg
einops